body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0;
  }

  h1 {
    margin: 0;
    text-align: center;
  }

  #home {
    position: absolute;
    top: 10px; 
    right: 15px; 
    width: 70px; 
    height: 70px; 
    border-radius: 70%; 
    transition: transform 0.5s ease; /* Dönme efekti için geçiş tanımı */
}

  .main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1460px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .second-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1460px;
    margin: 0 auto;
    margin-top: 50px;
  }

  .image-container {
    flex: 1;
    margin: 0 10px;
    min-width: 800px;
  }

  .content {
    flex: 2;
    margin: 0 10px;
    text-align: justify;
    margin-left: 10px;
  }

  img {
    max-width: 800px;
    max-height: 800px;
    margin-left: 0px;
    
  }

  @media only screen and (max-width: 1050px) {
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      margin: 0;
    }
  
    h1 {
      margin: 0;
      text-align: center;
    }

    #home {
      position: absolute;
      top: 20px; 
      right: 7px; 
      width: 70px; 
      height: 70px; 
      border-radius: 70%; 
      transition: transform 0.5s ease; /* Dönme efekti için geçiş tanımı */
    }
  
    .main-container {
      display: flex;
      flex-direction: column;  
      width: 100%;
      min-width: 780px; 
      margin: 0 auto;
      margin-top: 20px;
    }
  
    .second-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      min-width: 780px; 
      margin: 0 auto;
      margin-top: 50px;
    }
  
    .image-container {
      flex: 1;
      margin: 0 10px;
      min-width: 800px;
    }
  
    .content {
      flex: 2;
      margin-right: 10px;
      text-align: justify;
      margin-left: 10px;
      width: 100%;
      box-sizing: border-box;
    }
  
    img {
      max-width: 800px;
      max-height: 800px;
      margin-left: 0px;
      
    }
  
  }
